
.tabs {
    margin-bottom: 138px;
}
.tabs__caption {
    display: flex;
    margin-top: 241px;
    column-gap: 10px;
}
.tabs__caption li {
    padding: 19px 65px;
    border: 1px solid #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    cursor: pointer;
}
.tabs__caption li a {
    color: #000;
}
.tabs__caption li:hover {
    background: #000000;
}
.tabs__caption li:hover a {
    color: #FFFFFF;
}
.tabs__caption .active {
    background: #000000;
}
.tabs__caption .active a {
    color: #fff;
}
.tabs__content h3 {
    margin: 65px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #808080;
    z-index: 2;
}
.tabs__content {
    display: none;
}
.tabs__content.active {
    display: block;
}
.tabs__content.active #content {
    display: none;
}
.tabs__content.active #content.active {
    display: block;
}
.tabs__content .content-imgs {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 65px 30px;
    text-align: center;
}
.tabs-footer {
    width: 180px;
    margin: 0  auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 14px;
}
.tabs-footer button {
    background: none;
    border: none;
    outline: none;
}
.tabs-footer img {
    display: none;
    cursor: pointer;
}
.tabs-footer img.active {
    display: block;
}
.tabs-footer li {
    padding: 9px 15px;
    border: 1px solid #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    cursor: pointer;
}
.tabs-footer li.active {
    color: #fff;
    background: #000;
}
.tabs-footer li:hover {
    color: #fff;
    background: #000;
}
